@font-face {
  font-family: regular;
  src: url(fonts/frutigerLTStd_Light.woff);
}

@font-face {
  font-family: bold;
  src: url(fonts/frutigerLTStd_Bold.woff);
  font-weight: bold;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: #4cc0bd !important;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
}

a:hover {
  color: #f46853 !important;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
}

body {
  font-family: regular;
  background-color: #fff;
  text-rendering: optimizeLegibility;
}

.header {
  height: 16%;
  width: 100%;
  color: #fff;
  position: fixed;
}

.headerOnScroll {
  display: none;
  width: 100%;
  height: 16%;
  background-color: rgba(251,251,251,0.94);
  position: fixed; 
  z-index: 2;
}

#menuListOnScroll {
  text-align: center;
  font-size: 12px;
  letter-spacing: 6px;
  font-family: bold;
}

#menuListOnScroll a {
  color: #4CC0BD !important;
}

#menuListOnScroll li {
  margin: 8% 2%;
  list-style: none;
  display: inline-block;
}

#menuListOnScroll li a:hover {
  color: #F46853 !important;
}

.headerHidden {
  display: none;
  position: fixed;
  background-color: black;
  height: 16%;
  width: 100%;
  z-index: 1;
}

#logoContainer {
  float: left;
  width: 26%;
  height: 100%;
}

.logo img {
  opacity: 0;
  width: 20%;
  margin: 7% 20%;
  -moz-animation: fadein .5s ease-in 2s forwards; 
  -webkit-animation: fadein .5s ease-in 2s forwards; 
  -o-animation: fadein .5s ease-in 2s forwards; 
  animation: fadein .5s ease-in 2s forwards;
}

.logo:hover {
  opacity: 0.8;
}

#logoOnScroll img {
  width: 20%;
  margin: 7% 20%;
}

#logoOnScroll:hover {
  opacity: 0.8;
}

#menuContainer {
  width: 48%;
  height: 100%;
  float: left;
}

#menuList {
  text-align: center;
  font-size: 12px;
  letter-spacing: 6px;
  font-family: bold;
}

#menuList a {
  color: #fff !important;
}

#menuList li {
  opacity: 0;
  margin: 8% 2%;
  list-style: none;
  display: inline-block;
  -moz-animation: fadein .5s ease-in 2s forwards; 
  -webkit-animation: fadein .5s ease-in 2s forwards; 
  -o-animation: fadein .5s ease-in 2s forwards; 
  animation: fadein .5s ease-in 2s forwards;
}

#menuList li a:hover {
  color: #F46853 !important;
}

#CTA-buttonContainerT {
  width: 26%;
  height: 100%;
  float: right;
  font-size: 12px;
  letter-spacing: 4px;
  text-align: center;
}

#CTA-buttonT {
  opacity: 0;
  float: right;
  margin: 9% 22% 0 0;
  padding: 5% 7%;
  width: 41%;
  background-color: #fff;
  color: #4CC0BD;
  border: solid 2px #fff;
  font-family: bold;
  -moz-animation: fadein .5s ease-in 2s forwards; 
  -webkit-animation: fadein .5s ease-in 2s forwards; 
  -o-animation: fadein .5s ease-in 2s forwards; 
  animation: fadein .5s ease-in 2s forwards;
}

#CTA-buttonT a {
  color: #4cc0bd !important;
}

#CTA-buttonT a:hover {
  color: #F46853 !important;
}

#CTA-buttonTOnScroll {
  float: right;
  margin: 9% 22% 0 0;
  padding: 5% 7%;
  width: 41%;
  color: #4cc0bd;
  border: solid 2px #4CC0BD;
  font-family: bold;
}

#CTA-buttonTOnScroll a {
  color: #4cc0bd !important;
}

#CTA-buttonTOnScroll a:hover {
  color: #F46853 !important;
}

#greenScreen {
  height: 55vh;
  background-color: rgba(0, 224, 213, 0.4); 
}

.slideshow {
  height: 55vh;
  z-index: -9999;
  position: relative;
}

#mainTitlesContainer {
  position: relative;
  z-index: 1;
  margin: -15% auto;
  width: 100%;
}

#mainTitles {
  width: 100%;
  text-align: center;
}

#mainTitles h1 {
  opacity: 0;
  font-family: regular;
  font-weight: lighter;
  font-size: 80px;
  color: #fff;
  letter-spacing: 10px;
  margin-bottom: 0%;
  -moz-animation: fadein .5s ease-in 0.75s forwards; 
  -webkit-animation: fadein .5s ease-in 0.75s forwards; 
  -o-animation: fadein .5s ease-in 0.75s forwards; 
  animation: fadein .5s ease-in 0.75s forwards;
}

#mainTitles h2 {
  opacity: 0;
  font-size: 22px;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 10px;
  -moz-animation: fadein 1s ease-in 1s forwards; 
  -webkit-animation: fadein 1s ease-in 1s forwards; 
  -o-animation: fadein 1s ease-in 1s forwards; 
  animation: fadein 1s ease-in 1s forwards;
}

.mainContainer {
  overflow: hidden;
  width: 100vw;
  position: relative;
  background-color: #F5F5F5;
}

.bodyContainer {
  width: 90%;
  background-color: #F5F5F5;
  margin: 8% auto;
}

.bodyContainer h1 {
  font-weight: lighter;
  font-size: 35px;
  letter-spacing: 5px;
  text-align: center;
}

.bodyContainer h2 {
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 3px;
  text-align: center;
}

.content {
  width: 65%;
  font-size: 18px;
  line-height: 1.5;
  color: #363636;
  text-align: justify;
  margin: 5% auto;
}

.content a {
  color: #363636;
}

.mainContainer {
  overflow: hidden;
  width: 100vw;
  position: relative;
  background-color: #F5F5F5;
}

.questionsContainer {
  width: 65%;
  margin: 8% auto 0 auto;
  color: #363636;
  padding-bottom: 1.5%;
}

.questionsContainer li h2 {
  font-size: 25px;
  text-align: left;
  margin-top: 3.5%;
  margin-left: 5.5%;
}

.questionsContainer li p {
  font-size: 18px;
  color: #363636;
  text-align: left;
  margin-top: 2%;
  letter-spacing: .5px;
  line-height: 1.5;
}

.tab {
  margin-left: 8%;
}

.contentLink {
  font-family: bold;
  opacity: 0.9;
  text-decoration: underline;
}

ul {
  list-style: none;
  width: 90%;
}

.backButton {
  width: 50vw;
  margin: 2% 12%;
}

.fa.back {
  color: #4cc0bd;
  margin-left: 10%;
  margin-bottom: 8%;
  font-size: 40px;
  margin-right: 2%;
  float: left;
}

.fa.back:hover {
  color: #F56954 !important;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

#backText {
  margin-top: 1.6%;
  font-size: 19px;
  display: inline-block;
  color: #4cc0bd !important;
}

#backText:hover {
  color: #f56954 !important;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

.tab {
  margin-left: 8%;
}

.tab2 {
  margin-left: 12%;
}

.plan {
  margin-top: 2%;
  font-family: bold;
  color: #363636;
}

.mostFAQsContainer {
  padding-bottom: 1%;
  height: 100%;
  width: 100vw;
  background-color: #fff;
}

#mostFAQsTitle {
  font-size: 40px;
  width: 100vw;
  margin: 0 1% 2% 4%;
  padding-top: 3%;
  color: #363636;
}

#faqButtonList {
  list-style: none;
  display: inline-block;
  margin: 0 auto 0 6.5%;
  width: 100%;
}

#faqButtonList li {
  float: left;
  margin-bottom: 2%;
  margin-right: 1%;
}

#faqButtonList a {
  text-decoration: none;
  color: #fff !important;
}

#faqButtonList a:hover {
  color: #F46853 !important;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
}

.faqButton {
  background: #73C2BD;
  border-radius: 20px;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  padding: 5px 14px;
}

#faqCatContainer {
  width: 100%;
  height: 100%;
  padding-bottom: 2%;
  background-color: #f5f5f5;
  float: left;
}

#topBar {
  padding: 3% 4%;
  font-size: 40px;
  color: #363636;
}

#faqCatTitle {
  font-size: 35px;
  width: 100vw;
  margin: 0 1% 2% 4%;
  color: #363636;
  padding-top: 3%;
}

#faqCatButtonList {
  list-style: none;
  display: inline-block;
  margin: 0 auto 0 6.5%;
  width: 100%;
}

#faqCatButtonList li {
  float: left;
  margin-bottom: 2%;
  margin-right: 2%;
}

#faqCatButtonList a {
  text-decoration: none;
  color: #4CC0BD;
}

.faqCatButton {
  background: #fff;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 1.4;
  padding: 2% 1%;
  text-align: center;
  width: 20%;
}

/*--------MOBILE NAVIGATION---------*/

.mobileTriggerOpen {
  display: none;
  float: right;
  white-space: nowrap;
  margin-right: 1%;
  margin-top: 3%;
  font-size: 15px;
  letter-spacing: 6px;
  font-family: bold;
  color: #fff; 
  cursor: pointer; 
}

.arrowDown {
  display: none;
  font-size: 20px !important;
  float: right;
  cursor: pointer;
  margin-top: 2.6%;
  margin-right: 4%;
}

.fa-caret-down {
  color: #fff !important;
}

.mobileTriggerClose {
  display: none;
  float: right;
  white-space: nowrap;
  margin-right: 1%;
  margin-top: 3%;
  font-size: 15px;
  letter-spacing: 6px;
  font-family: bold;
  color: #fff; 
  cursor: pointer; 
}

.arrowUp {
  display: none;
  font-size: 20px !important;
  float: right;
  cursor: pointer;
  margin-top: 2.5%;
  margin-right: 4%;
}

.fa-caret-up {
  color: #fff !important;
}

@media only screen and (max-width: 1023px) {
  .mobileTriggerOpen {
    display: initial;
  }
  .mobileTriggerClose {
    display: initial;
  }
  .arrowDown {
    display: initial;
  }
  .arrowUp {
    display: initial;
  }
  #CTA-buttonT {
    display: none;
  }
  #CTA-buttonContainerT {
    display: none;
  }
  #menuContainer {
  display: none;
  }
  #menuList {
  display: none;
  }
}

.overlay {
  float: right;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #1A746E;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlayContentTop {
  position: relative;
  margin-top: 35%;
  width: 100%;
  text-align: center;
}

.overlayContentBottom {
  position: relative;
  margin-top: 15%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.footer {
  float: left;
  margin-top: 2%;
  border-top: solid 2px #4CC0BD;
  height: 50vh;
  background-color: #fff;
  width: 100%;
  -webkit-clip-path: polygon(0 64%, 100% 6%, 100% 100%, 0 100%);
  clip-path: polygon(0 64%, 100% 6%, 100% 100%, 0 100%);
}

#footerLogoContainer {
  float: left;
  width: 15%;
  height: 100%;
  margin-left: 5%;
}

#footerLogo img {
  width: 36%;
  margin-top: 125%;
}

#footerLogo:hover {
  opacity: 0.8;
}

.footerLink {
  margin-top: 21%;
  float: right;
  padding-left: 2%;
  font-size: 12px;
  font-family: bold;
  letter-spacing: 6px;
  color: #4cc0bd !important;
}

.footerLink:hover {
  color: #f46853 !important;
}

#rightMargin {
  margin-right: 5%;
}

.fa {
  color: #4cc0bd;
}

.icon {
  font-size: 25px !important;
  margin-top: 20.5%;
  float: right;
  padding-left: 2%;
  color: #4cc0bd !important;
}

.fa:hover {
  color: #F46853 !important;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
}